@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bree+Serif&family=Inconsolata:wght@200..900&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&family=Secular+One&family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bree+Serif&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&family=Secular+One&family=Yatra+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inconsolata", monospace;
}
body {
    @apply bg-gradient-to-l from-slate-800 via-slate-950 to-slate-900 text-white;
}

.active {
   @apply text-slate-200;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #980198; /* Purple */
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}